.btn-warning:hover{
    background-color:darkseagreen;
    border-color:mediumaquamarine;
    border-radius: 20px;
    border-width: 7px;
}

canvas{
    animation-name: anim;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes anim{
    from{box-shadow: 1px 1px 38px red;}
    to{box-shadow: 1px 1px 38px aqua;}
    }